.head{
    width: 100%;
    margin:-10px ;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#0077b6;
    background-size:100% ;
    text-align: center;
    color: azure;
    line-height:2px;
}
.p{
    background-color: #f0faff ;
    font-size: 8px;
    color: #0077b6; ;
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 160px;
    border: #0077b6 1px solid;
    line-height: 20px;
    overflow: scroll;
    h3{
        border: inherit;
    }
}
body{
    background-color: #dcf2ff ;
    font-family: "Poppins", sans-serif;
}
.word{
    color: #0077b6;
}
.projects{
    margin: 30px;
    padding: 20px;
    background-color: #f0faff ;
    width: 90%;
    display: flex;
    justify-content: center;
    gap:30px;
    border:#0077b6;

}
.projects h2{
    font-size: 20px;
    font-weight: 700;
    color: #004a8f;
    margin-bottom: 20px;

}
.card{
    background: #f9f9f9;
    width: 200px;
    height: 200px;
    border: 2px solid #7baedc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    overflow: auto ;
}
.card p {
    font-size: 12px;
    color: #444;
    line-height: 1.6;
}
.card h3 {
    color: #004a8f;
    font-size: 14px;
    margin-bottom: 12px;
}

.foot{
    width: 100%;
    margin:-10px ;
    padding: 10px;
    background-color:#0077b6;
    background-size:100% ;
    text-align: center;
    color: azure;
}